h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font__family--heading;
  font-weight: 900;
  letter-spacing: -0.03em;
  text-align: left;

  margin-top: 1em;
  margin-bottom: $space;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
