img {
  max-width: 100%;
  height: auto;
}

.wp-block-image {
  margin-top: $space;
	margin-bottom: $space;
}

	.wp-block-image img {
    background: white;
    @include shadow(black);
	}

	.wp-block-image p {
		color: #999;
		font-size: 0.8em;
		font-family: $font__family--native;
		line-height: 1.4;
	}
