// Generic font types
$font__family--serif: 'BT Revival 565 W01', 'Georgia', 'Timews New Roman', Times, serif;
$font__family--monospace: 'Lekton-Tomodomo', monospace;
$font__family--native: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font__family--sans-serif: 'Neue Plak™ W01', $font__family--native;

// Semantic font types
$font__family:          $font__family--serif;
$font__family--alt:     $font__family--monospace;
$font__family--heading: $font__family--sans-serif;

// Spacing
$space: 1rem;

// Gridlex
$gl-gridName: 'gridlex';
$gl-gutter: $space * 2;
$gl-gutter-vertical: 0;

// Colors
$color__text: #333;
$color__text--light:    lighten($color__text, 10%);
$color__text--lighter:  lighten($color__text, 20%);
$color__text--lightest: lighten($color__text, 30%);

$color__background: #FEFEFE;

$color__link: desaturate(darken(blue, 5%), 25%);

$color__table--border: rgba(black, 0.1);

$color__input--focus: rgba(desaturate(blue, 40%), 0.1);

// Generics
$border__radius: 5px;
