{% extends 'layouts/base.twig' %}

{% block content %}

	{% embed 'partials/_header.twig' %}{% endembed %}

{% embed 'partials/_page.twig' with {
	id: "contact",
	classes: [
		'page--full-height',
		'page--padded',
	]
} %}
	{% block content %}
		<div class="row">
			<div class="col col--2">
				<h2 class="u-mt--s u-heading">Vanilla Forums</h2>
{% markdown %}
{% endmarkdown %}
			</div>
		</div>
	{% endblock %}
{% endembed %}

{% endblock %}
