.blocks {
	display: flex;
	flex-wrap: wrap;
}

	.blocks__block {
		flex-grow: 1;
		width: 100%;

		@include breakpoint(400px) {
			width: 50%;
		}

		@include breakpoint(840px) {
			width: 25%;
		}

		height: 25vh;
		min-height: 10rem;
		max-height: 18rem;
		padding: $space * 3;

		display: flex;
		align-items: center;
		justify-content: center;

		background: yellow;
		&:nth-child(even) {
			background: red;
		}
	}

		.blocks__image {
			height: auto;
		}
