{% extends 'layouts/base.twig' %}

{% block content %}

	{% embed 'partials/_header.twig' %}{% endembed %}

{% embed 'partials/_page.twig' with {
	id: "contact",
	classes: [
		'page--full-height',
		'page--padded',
	]
} %}
	{% block content %}
		<div class="row">
			<div class="col col--2 col--center">
				<h2 class="u-mt--s u-heading">Front-end developer (contract/part-time)</h2>
{% markdown %}
**Van Patten Media Inc.** and **Tomodomo** are hiring a front-end developer.

The ideal developer has extensive experience with HTML, Sass/CSS, and interaction-based JavaScript.

This position is a contract position, for 10+ hours per week, paying between $30–60 per hour, based on experience and qualifications.

Tasks may include:

+ Building markup and stylesheets based on static mocks (typically Photoshop or Sketch)
+ Collaborating with designers to develop simple CSS animations
+ Assessing and recommending JavaScript libraries for specific functionality
+ Implementing themes on platforms like Vanilla Forums and Shopify

We build front-end assets with Gulp, preprocess with Sass, develop with vanilla JavaScript and a healthy dose of jQuery, occasionally dabble with React and Vue, and are slowly moving from Bower to Yarn + Webpack.

Internally, we use GitHub, Teamwork, Google Docs, Harvest, and Slack to communicate and collaborate. Familiarity with those tools is helpful. [Learn more about what it's like to work for us.](/hiring)

Availability during at least half of US Eastern daylight hours is essential, but you don't need to be located anywhere specific.

&bullet; &bullet; &bullet;

We are hiring for all levels, but the breakdown of responsibilities will vary depending on your experience:

**Junior developers**

If you're a junior developer, expect lots of mentorship and one-on-one training. We'll work with you to get you up to speed on our workflow, expectations for code organization and styles, etc.

**Mid-level developers**

Mid-tier developers can expect similar training and mentorship, but will also be asked to share their knowledge with junior members of the team. You'll collaborate with senior members of the team and offer input on scoping and technical strategy.

**Senior developers**

As a senior developer, you'll work directly with our project manager and area directors to draw up plans and scopes for our projects, and have significant input on technical direction and strategy. You'll spend time guiding junior and mid-level developers through mentoring and code review. Expect 40–50% of your time to go toward non-coding tasks.

&bullet; &bullet; &bullet;

**Please submit to [hiring@tomodomo.co](hiring@tomodomo.co):**

+ A sample of your work, preferably covering all three key areas (CSS, JS, and HTML)
+ Any other relevant open source work (a GitHub link is always appreciated)
+ A cover letter, with a short description of how you got into front-end development
+ Your desired hourly rate (or a range)
+ Any other relevant information

We'll follow up with qualified candidates to schedule a Skype interview. Please note that we cannot respond to all submissions.

We especially invite applications from members of historically under-represented groups.
{% endmarkdown %}
			</div>
		</div>
	{% endblock %}
{% endembed %}

{% endblock %}
