<div class="row">
	<article itemscope itemtype="http://schema.org/Article" class="u-w--100">
		<header class="header col">
		{% block article_header %}{% endblock %}
		</header>

		<div itemprop="articleBody" class="article article--align-{{align|default('center')}}">
		{% block article_content %}{% endblock %}
		</div>
	</article>
</div>
