<div class="blocks__block" style="background: {{background}}">
	{% include 'partials/_image.twig' with {
		type: logo.type|default('png'),
		file: logo.file,
		fill: '#FFF',
		bri: 100,
		width: logo.width,
		path: ( ( logo.type == 'svg' ) ? 'partials/svgs/' : 'assets/img/' ) ~ 'client-logos/',
		classes: [ 'blocks__image' ],
	} %}
</div>

