<footer class="gridlex footer">
    <div class="col-6">
        <p class="footer__copyright">&copy; 2018 Tomodomo</p>
    </div>
    <div class="col-6">
        {% if commit %}
        <p class="footer__commit"><a href="https://github.com/TomodomoCo/tomodomo-site/commit/{{commit}}">{{commit|slice(0,6)}}</a></p>
        {% endif %}
    </div>
</footer>
