<header class="header">
    <div class="header__primary">
        <a href="/" class="logo">{% include 'partials/svgs/_logo.svg.twig' %}</a>
    </div>
    <div class="header__nav">
        <nav class="nav">
            {% for item in menu.primary.items %}
                <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>
