<header class="header">
    <div class="header__primary">
        <a href="/" class="logo"><img src="/svg/logo.svg"></a>
        <button class="js-toggle-nav nav__trigger"><svg class="icon icon-angle-down-light" viewbox="0 0 100 100"><use xlink:href="/assets/sprites/symbol/svg/sprite.symbol.svg#angle-down-light"></use></svg><span class="u-d--n">Toggle menu</span></button>
    </div>
    <div class="header__nav">
        <nav class="nav">
            {% for item in menu.primary.items %}
                <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
            {% endfor %}
        </nav>
    </div>
</header>
