<header class="grid header">
    <div class="col-5">
        <a href="/" class="logo">{% include 'partials/svgs/_logo.svg.twig' %}</a>
    </div>
    <nav class="col-7 nav">
        {% include 'partials/_nav.twig' %}
    </nav>
</header>
