<a class="nav__link" href="/work">Work</a>
<a class="nav__link" href="/#publishers">Publishers</a>
<a class="nav__link" href="/#communities">Communities</a>
<a class="nav__link" href="/values">Values</a>
<a class="nav__link" href="/contact">Contact</a>
