<div class="row u-mt--s3x u-mb--s3x">
	<div class="col col--one-third">
		{% include 'partials/_image.twig' with {
			type: logo.type|default('png'),
			file: logo.file,
			fill: '#555',
			bri: 0,
			width: logo.width,
			path: ( ( logo.type == 'svg' ) ? 'partials/svgs/' : 'assets/img/' ) ~ 'client-logos/',
			classes: [ 'u-mb--s' ],
		} %}

		{% if content or url %}
		<div class="portfolio__content">
			{% if content %}
				{% markdown %}
				{{content}}
				{% endmarkdown %}
			{% endif %}

			{% if url %}
			<p><a href={{url}} class="portfolio__cta">Learn more →</a></p>
			{% endif %}
		</div>
		{% endif %}

		{% if highlights %}
		<ul class="portfolio__highlights">
			{% for highlight in highlights %}
			<li>{{highlight}}{% if loop.last == false %}, {% endif %}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	<div class="col col--two-thirds">
		<img src="https://tomodomo.imgix.net/assets/img/portfolio/{{image}}?format=auto&crop=top,left&fit=crop&w=1200&h=550" class="img img--standout">
	</div>
</div>
