{% embed 'partials/_page.twig' with {
	id: "services",
	classes: [
		'page--full-height',
		'page--padded',
	]
} %}
	{% block content %}
	<div class="services">
		<div class="row">
			<div class="col">
				<h3 class="page__title">Services</h3>
				<p>We love working with communities of all kinds, but specialise in private membership networks and customer support forums:</p>
			</div>
		</div>
		<div class="row">
			<div class="services__item">
				<h3>Private membership networks</h3>
				<p>If you're building an information product with a forum component or making your community the focus of your business, Tomodomo has the expertise to support its growth.</p>
			</div>
			<div class="services__item">
				<h3>Customer support forums</h3>
				<p>When looking for help, your users don't need more hurdles in their way. Our user experience professionals can help create a forum that surfaces the best content and provides the quickest path to answers.</p>
			</div>
		</div>
<br>
		<div class="row">
			<div class="col">
				<p>Tomodomo offers a broad range of services for online communities:</p>
			</div>
		</div>
		<div class="row">
			<div class="services__item">
				<h3>Community design</h3>
				<p>We specialise in designing elegant, user-oriented communities and forums. Our expert designers will work with you to establish a visual language and brand for your site. If you already have brand guidelines, we can build a layout that fits your existing aesthetic.</p>
			</div>
			<div class="services__item">
				<h3>Development services</h3>
				<p>Custom functionality can move your community beyond the forum, building a stronger member base and setting you apart from your competitors. Whether it's a small widget or a full-scale application, Tomodomo can build it.</p>
			</div>
			<div class="services__item">
				<h3>Analysis and strategy</h3>
				<p>Having trouble with trolls? Wondering how to further engage your members? We can help you hone in on the root of the problem and fix it—through technical or non-technical means.</p>
			</div>
		</div>
	</div>
	{% endblock %}
{% endembed %}
