{% extends 'layouts/base.twig' %}

{% block content %}

{% embed 'partials/_page.twig' with {
	id: "contact",
	classes: [
		'page--alt',
		'page--full-height',
		'page--padded',
	]
} %}
	{% block content %}
		{% include 'partials/_portfolio__item.twig' with {
			image: 'torrentfreak-1.png',
			logo: {
				type: 'svg',
				fill: '#FFF',
				file: 'torrentfreak',
				width: 60
			},
			highlights: [
				'Development',
				'WordPress',
			]
		} %}

		<div class="row">
			<div class="col col--2 col--center">
{% markdown %}
As publications change and adapt to the realities of the web, we're excited to have the opportunity to help our clients take advantage of everything that's possible. In particular, that means leveraging the power of readers to create powerful resources that couldn't exist in print.

<div class="row row--nested u-mb--sd">
	<div class="col col--half">
		<img src="https://tomodomo.imgix.net/assets/img/portfolio/torrentfreak-2.png?format=auto&crop=top,left&fit=crop&w=700&h=480" alt="" class="img img--standout u-mt--sd u-mb--s">
	</div>
	<div class="col col--half">
		<img src="https://tomodomo.imgix.net/assets/img/portfolio/torrentfreak-3.png?format=auto&crop=top,left&fit=crop&w=700&h=480" alt="" class="img img--standout u-mt--sd u-mb--s">
	</div>
</div>

For **TorrentFreak**, a popular source of news on digital privacy, piracy and copyright issues, and internet activism, we built a custom directory where readers can rate and review internet privacy software. Ratings are broken down into four categories—price, speed, support, and features—which are averaged together for an overall rating.

We also used **Custom Field Suite** to allow the client to enter specific details about each piece of software, like prices and features.

Readers can browse the directory and sort the results by average rating or number of reviews. The TorrentFreak editorial provides detailed analysis of each service, and readers contribute their feedback, providing a blend of professional reportage and on-the-ground experience from users.
{% endmarkdown %}
			</div>
		</div>
	{% endblock %}
{% endembed %}

{% endblock %}

