%row,
.row {
	display: flex;
	flex-wrap: wrap;
}

	.row.row--nested {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	.row.row--reverse {
		flex-direction: row-reverse;
	}


%col-base {
	padding-left: 1rem;
	padding-right: 1rem;
}

%col,
.col {
	@extend %col-base;
}

	%col--center,
	.col.col--center {
		margin-left: auto;
		margin-right: auto;
	}

	%col--full,
	.col.col--full {
		width: 100%;
	}

	%col--quarter,
	.col.col--quarter {
		width: 100%;

		@include breakpoint(840px) {
			width: 25%;
		}
	}

	%col--half,
	.col.col--half {
		width: 100%;

		@include breakpoint(840px) {
			width: 50%;
		}
	}

	%col--three-quarters,
	.col.col--three-quarters {
		width: 100%;

		@include breakpoint(840px) {
			width: 75%;
		}
	}

	%col--one-third,
	.col.col--one-third {
		width: 100%;

		@include breakpoint(840px) {
			width: 33.3333%;
		}
	}

	%col--two-thirds,
	.col.col--two-thirds {
		width: 100%;

		@include breakpoint(840px) {
			width: 66.6666%;
		}
	}

	%col--half,
	.col.col--half {
		width: 100%;

		@include breakpoint(840px) {
			width: 50%;
		}
	}

	%col--auto,
	.col.col--auto {
		width: 100%;

		@include breakpoint(840px) {
			width: auto;
		}
	}

	%col--fill,
	.col.col--fill {
		width: 100%;

		@include breakpoint(840px) {
			width: auto;
			flex: 1;
		}
	}

	.col--text {
		p:first-child {
			margin-top: 0;
		}

		ul, ol {
		}
	}

		.col--2.col--text {
			@include breakpoint(840px) {
				columns: 2;
				column-gap: $space--double;
			}
		}
