{% if width is defined %}{% set height = (64.322/263.856) * width %}{% endif %}
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="{{ width|default('263.856') }}px" height="{{ height|default('64.322') }}px" viewBox="0.185 0 263.856 64.322" enable-background="new 0.185 0 263.856 64.322" xml:space="preserve">
<title>Restrict Content Pro</title>
<desc>Restrict Content Pro - Membership plugin for WordPress</desc>
<g fill="{{ fill|default('#2A76D2') }}">
	<path d="M56.17,4.58H4.765v51.405h-4.58V0H56.17V4.58z"/>
	<path d="M8.057,8.338v55.984h55.984V8.338H8.057z M58.335,58.606h-19.22l-5.139-17.062
		c3.06-1.651,5.139-4.886,5.139-8.605c0-5.399-4.377-9.775-9.775-9.775c-0.003,0-0.005,0-0.008,0l0.008,35.433H13.763V13.951H41.28
		c9.419,0,17.056,7.636,17.056,17.055c0,6.039-3.143,11.34-7.877,14.371L58.335,58.606z"/>
</g>
<g fill="{{ fill|default('#222') }}">
	<path d="M81.732,28.671h4.585c2.999,0,5.101,1.223,5.101,4.012v0.076c0,2.139-1.337,3.229-3.037,3.668l3.84,5.902
		H89.47l-3.572-5.521h-1.624v5.521h-2.541V28.671z M86.317,34.994c1.7,0,2.599-0.726,2.599-2.178V32.74
		c0-1.566-0.975-2.102-2.599-2.102h-2.044v4.355H86.317z"/>
	<path d="M93.002,37.439v-0.152c0-3.095,2.12-5.158,4.967-5.158c2.483,0,4.719,1.471,4.719,5.043v0.67h-7.316
		c0.076,1.891,1.031,2.961,2.751,2.961c1.395,0,2.12-0.555,2.292-1.529h2.235c-0.325,2.102-2.025,3.248-4.585,3.248
		C95.122,42.521,93.002,40.592,93.002,37.439z M100.396,36.294c-0.115-1.72-0.994-2.483-2.427-2.483
		c-1.395,0-2.331,0.936-2.56,2.483H100.396z"/>
	<path d="M104.079,39.217h2.178c0.115,1.012,0.631,1.604,1.987,1.604c1.241,0,1.796-0.439,1.796-1.28
		c0-0.821-0.669-1.127-2.141-1.375c-2.636-0.42-3.61-1.166-3.61-3.037c0-2.006,1.872-3,3.744-3c2.045,0,3.668,0.764,3.917,3.019
		h-2.14c-0.191-0.917-0.707-1.337-1.777-1.337c-0.993,0-1.585,0.477-1.585,1.184c0,0.727,0.478,1.014,2.062,1.28
		c2.351,0.363,3.745,0.937,3.745,3.057c0,2.025-1.433,3.19-3.993,3.19C105.684,42.521,104.175,41.337,104.079,39.217z"/>
	<path d="M114.661,39.541v-5.463h-1.338v-1.739h1.338v-2.197h2.312v2.197h2.196v1.739h-2.196v5.253
		c0,0.879,0.42,1.28,1.146,1.28c0.458,0,0.802-0.058,1.127-0.191v1.834c-0.363,0.134-0.86,0.248-1.566,0.248
		C115.692,42.502,114.661,41.433,114.661,39.541z"/>
	<path d="M121.325,32.339h2.312v1.872c0.63-1.26,1.566-2.005,3.247-2.024v2.159
		c-2.024,0.019-3.247,0.668-3.247,2.789v5.195h-2.312V32.339z"/>
	<path d="M128.718,29.378c0-0.764,0.611-1.337,1.375-1.337c0.765,0,1.376,0.573,1.376,1.337
		c0,0.745-0.611,1.318-1.376,1.318C129.329,30.696,128.718,30.123,128.718,29.378z M128.966,32.339h2.312v9.991h-2.312V32.339z"/>
	<path d="M133.416,37.459v-0.152c0-3.172,2.254-5.178,5.043-5.178c2.217,0,4.299,0.994,4.566,3.744h-2.235
		c-0.191-1.337-1.07-1.891-2.293-1.891c-1.585,0-2.712,1.223-2.712,3.285v0.153c0,2.178,1.069,3.324,2.77,3.324
		c1.223,0,2.273-0.726,2.407-2.14h2.12c-0.172,2.293-1.91,3.916-4.623,3.916C135.594,42.521,133.416,40.649,133.416,37.459z"/>
	<path d="M145.449,39.541v-5.463h-1.338v-1.739h1.338v-2.197h2.312v2.197h2.197v1.739h-2.197v5.253
		c0,0.879,0.42,1.28,1.146,1.28c0.458,0,0.802-0.058,1.127-0.191v1.834c-0.363,0.134-0.86,0.248-1.566,0.248
		C146.48,42.502,145.449,41.433,145.449,39.541z"/>
	<path d="M156.164,35.587v-0.153c0-4.107,2.827-6.973,6.629-6.973c3.133,0,5.56,1.566,5.865,4.776h-2.579
		c-0.287-1.815-1.299-2.751-3.267-2.751c-2.407,0-3.974,1.872-3.974,4.929v0.153c0,3.075,1.471,4.891,3.992,4.891
		c1.892,0,3.229-0.956,3.496-2.885h2.483c-0.401,3.285-2.731,4.947-5.979,4.947C158.552,42.521,156.164,39.789,156.164,35.587z"/>
	<path d="M170.145,37.439v-0.152c0-3.095,2.196-5.158,5.139-5.158c2.923,0,5.12,2.045,5.12,5.102v0.152
		c0,3.113-2.197,5.139-5.139,5.139C172.322,42.521,170.145,40.478,170.145,37.439z M178.034,37.402v-0.135
		c0-2.062-1.031-3.324-2.751-3.324s-2.77,1.242-2.77,3.306v0.153c0,2.043,1.012,3.323,2.77,3.323
		C177.003,40.726,178.034,39.445,178.034,37.402z"/>
	<path d="M182.483,32.339h2.312v1.585c0.478-0.974,1.585-1.796,3.229-1.796c2.006,0,3.419,1.166,3.419,3.916v6.285
		h-2.312v-6.074c0-1.51-0.611-2.197-1.986-2.197c-1.3,0-2.35,0.803-2.35,2.388v5.884h-2.312V32.339z"/>
	<path d="M194.479,39.541v-5.463h-1.338v-1.739h1.338v-2.197h2.312v2.197h2.197v1.739h-2.197v5.253
		c0,0.879,0.42,1.28,1.146,1.28c0.458,0,0.802-0.058,1.127-0.191v1.834c-0.363,0.134-0.86,0.248-1.566,0.248
		C195.51,42.502,194.479,41.433,194.479,39.541z"/>
	<path d="M200.475,37.439v-0.152c0-3.095,2.12-5.158,4.967-5.158c2.483,0,4.719,1.471,4.719,5.043v0.67h-7.316
		c0.076,1.891,1.031,2.961,2.751,2.961c1.395,0,2.12-0.555,2.292-1.529h2.235c-0.325,2.102-2.025,3.248-4.585,3.248
		C202.595,42.521,200.475,40.592,200.475,37.439z M207.868,36.294c-0.115-1.72-0.994-2.483-2.427-2.483
		c-1.395,0-2.331,0.936-2.56,2.483H207.868z"/>
	<path d="M212.222,32.339h2.312v1.585c0.478-0.974,1.585-1.796,3.229-1.796c2.006,0,3.419,1.166,3.419,3.916v6.285
		h-2.312v-6.074c0-1.51-0.611-2.197-1.986-2.197c-1.3,0-2.35,0.803-2.35,2.388v5.884h-2.312V32.339z"/>
	<path d="M224.216,39.541v-5.463h-1.338v-1.739h1.338v-2.197h2.312v2.197h2.196v1.739h-2.196v5.253
		c0,0.879,0.42,1.28,1.146,1.28c0.458,0,0.802-0.058,1.127-0.191v1.834c-0.363,0.134-0.86,0.248-1.566,0.248
		C225.247,42.502,224.216,41.433,224.216,39.541z"/>
	<path d="M235.618,28.671h4.395c3.057,0,5.062,1.356,5.062,4.221v0.077c0,2.885-2.083,4.165-5.006,4.165h-1.91v5.195
		h-2.541V28.671z M240.013,35.301c1.681,0,2.578-0.822,2.578-2.331v-0.077c0-1.623-0.955-2.254-2.578-2.254h-1.854v4.662H240.013z"
		/>
	<path d="M247.06,32.339h2.312v1.872c0.63-1.26,1.566-2.005,3.247-2.024v2.159c-2.024,0.019-3.247,0.668-3.247,2.789
		v5.195h-2.312V32.339z"/>
	<path d="M253.782,37.439v-0.152c0-3.095,2.197-5.158,5.139-5.158c2.923,0,5.12,2.045,5.12,5.102v0.152
		c0,3.113-2.197,5.139-5.139,5.139C255.96,42.521,253.782,40.478,253.782,37.439z M261.672,37.402v-0.135
		c0-2.062-1.031-3.324-2.751-3.324c-1.719,0-2.77,1.242-2.77,3.306v0.153c0,2.043,1.012,3.323,2.77,3.323
		C260.641,40.726,261.672,39.445,261.672,37.402z"/>
</g>
</svg>
