{% embed 'partials/_page.twig' with {
	id: "communities",
	classes: [
		'page--padded',
	]
} %}
	{% block content %}
	<div class="row">
		<div class="col col--two-thirds">
			{% include 'partials/_section__title.twig' with { title: 'Communities' } %}
{% markdown %}
Whether you are building a customer support channel or a private networking forum for your industry, Tomodomo will help build your community's design and functionality.
{% endmarkdown %}
		</div>
	</div>

	<div class="row u-mt--sd">
		<div class="col col--one-third">
			{% include 'partials/_callout.twig' with {
				classes: [ 'u-pb--sd' ],
				title: 'Next level networking',
				content: 'Help your community members meet and succeed through custom networking tools. A custom Vanilla Forums member directory can make it easy for your members to find each other. An algorithmic "matchmaker" can create connections on the fly to automatically bring like-minded members together.'
			} %}

			{% include 'partials/_callout.twig' with {
				title: 'Branded and curated forums',
				content: 'Tomodomo can work with your community leaders to identify the best content and give it the focus it deserves. We can work with your team to develop a gamification strategy that rewards top contributors. And we can design a forum layout that integrates seamlessly with your brand and encourages engagement.'
			} %}
		</div>

		<div class="col col--two-thirds">
			<img src="/assets/img/portfolio/ecommercefuel-1-crop.png" alt="A screenshot of the eCommerceFuel community forums." class="img img--standout">
		</div>
	</div>
	{% endblock %}
{% endembed %}
