{% embed 'partials/_page.twig' with {
	id: "contact",
	classes: [
		'page--padded',
	]
} %}
	{% block content %}
	<div class="row">
		<div class="col col--full">
			<p class="u-ta--c u-pt--sd u-pb--sd" style="font-size: 125%;">Interested in learning more? <a href="/contact">Contact us</a> to start the process.</p>
		</div>
	</div>
	{% endblock %}
{% endembed %}
