{% embed 'partials/_page.twig' with {
	classes: [
		'page--alt',
		'page--padded',
	]
} %}
	{% block content %}
	<section>
		<div class="row">
			<div class="col col--full">
				<h3 class="page__callout">Tomodomo is proudly trusted by</h3>
			</div>
		</div>
		<div class="row">
			<div class="blocks col col--full">

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						type: 'svg',
						file: 'freedompop',
						width: 220
					},
					background: '#00A3F5'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						file: 'mindful.png',
						width: 194
					},
					background: '#F95A70'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						type: 'svg',
						file: 'kabam',
						width: 120
					},
					background: '#FF8C00'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						file: 'dynamitecircle.png',
						width: 115
					},
					background: '#D83B2C'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						file: 'gunslinger.png',
						width: 161
					},
					background: '#111'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						type: 'svg',
						file: 'ecommercefuel',
						width: 229
					},
					background: '#4D5061'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						type: 'svg',
						file: 'ambientintelligence',
					},
					background: '#00A2B2'
				} %}

				{% include 'partials/_blocks__block.twig' with {
					logo: {
						file: 'd3go.png',
						width: 73
					},
					background: '#204CA7'
				} %}
			</div>
		</div>
		<div class="row">
			<div class="col col--full">
				<a href="/work" class="page__cta"><span>View selections from our portfolio →</span></a>
			</div>
		</div>
	</section>
	{% endblock %}
{% endembed %}
