{% embed 'partials/_page.twig' with {
	classes: [
		'page--alt',
		'page--padded',
	]
} %}
	{% block content %}
	<section>
		<div class="row">
			<div class="col col--full">
				<h3 class="page__callout">We work with the best community and content platforms on the web</h3>
			</div>
		</div>

		<div class="row">
			<div class="blocks col col--full">
				<div class="blocks__block" style="background: #0A93E2">
					{% include 'partials/svgs/platform-logos/_vanilla.svg.twig' with {
						fill: '#FFF',
						width: '150',
					} %}
				</div>
				<div class="blocks__block" style="background: #22282D">
					{% include 'partials/svgs/platform-logos/_wordpress.svg.twig' with {
						fill: '#FFF',
						width: '270',
					} %}
				</div>
				<div class="blocks__block" style="background: #036FD8">
					{% include 'partials/svgs/platform-logos/_restrict-content-pro.svg.twig' with {
						fill: '#FFF',
						width: '270',
					} %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col col--full">
				<a href="/platforms" class="page__cta"><span>Learn about our platform expertise →</span></a>
			</div>
		</div>
	</section>
	{% endblock %}
{% endembed %}
