{% embed 'partials/_page.twig' with {
	id: "publishers",
	classes: [
		'page--alt',
		'page--padded',
	]
} %}
	{% block content %}
	<div class="row">
		<div class="col col--two-thirds">
			{% include 'partials/_section__title.twig' with { title: 'Publishers' } %}
{% markdown %}
We work with top publishers like you (digital-only and in print) to help bring editorial workflows online and create value for subscribers.
{% endmarkdown %}
		</div>
	</div>

	<div class="row u-mt--sd">
		<div class="col col--one-third">
			{% include 'partials/_callout.twig' with {
				classes: [ 'u-pb--sd' ],
				title: 'Digital-first editorial workflow',
				content: 'Write, review, and revise your content in a custom-built digital environment. Visualise your upcoming content in the format that works for your team. Export directly to inDesign (or the design app of your choice) when you\'re ready to hit the printer.'
			} %}

			{% include 'partials/_callout.twig' with {
				title: 'Go beyond the paywall',
				content: 'Build subscriber loyalty and engagement through an exclusive digital community built around your content. It is more than a paywall: it is a premium experience your readers will be eager to participate in (and pay for).'
			} %}
		</div>

		<div class="col col--two-thirds">
			<img src="/assets/img/portfolio/225batonrouge-1-crop.png" alt="A screenshot of the [225] Magazine website." class="img img--standout">
		</div>
	</div>
	{% endblock %}
{% endembed %}
