.definition {}

	.definition .definition__word {
		margin-top: $space;
		margin-bottom: $space--three-quarters;
		font-size: 2.25em;
		font-style: italic;
		line-height: 0.8;
		font-weight: normal;
		color: #111;
	}

	.definition .definition__meta {
		margin-top: 0;
		font-size: 0.8em;
		font-family: $font-family--native;
		line-height: 1.5;
	}

		.definition .definition__lang {
			font-family: $font-family;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

	.definition__header {
		margin-top: $space;
		margin-bottom: $space--half;
		padding-top: $space;

		@extend %heading;
	}

	.definition__defs {
		margin-top: $space--quarter;
		margin-bottom: $space;
		margin-left: 1.4em;
		font-size: 1.2em;
	}

		.definition__def {
			margin-bottom: 0.1em;
		}
