.page {
}

	.page {
		.page__content {
		}
	}

	.page.page--alt {
		background: #F8F8F8;
	}

	.page__content {
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;

		@include breakpoint(840px) {
			max-width: 86rem;
		}
	}

	.page.page--padded .page__content {
		padding: 2rem 0;

		@include breakpoint(840px) {
			padding: 2rem 1rem;
		}
	}

	.page.page--full-height, .page.page--full-height .page__content {
		overflow: hidden;
		min-height: 100vh;
	}

	.page.page--split .page__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.page p {
		margin-top: 1em;
		margin-bottom: 1em;
	}

.page__secondary {}

	.page__secondary p {
		margin: 0;
	}

.page__title {
	font-family: $font-family--alt;
	font-weight: 400;
	//font-style: italic;
	font-size: 2rem;
	line-height: 1;
	letter-spacing: 0.03em;

	position: relative;
	margin-top: 0;
	margin-bottom: $space;

	@include breakpoint( 500px ) {
		font-size: 3rem;

		margin-top: $space;
		margin-bottom: $space * 2;
	}

	color: #333;
}

	.page__title span {
		display: inline-block;
		border-bottom: 3px solid #DDD;
	}

.page__callout {
	padding: $space--double $space $space;
	flex-basis: 100%;

	font-size: 1.25em;
	font-weight: normal;
	text-align: center;
}

.page__cta {
	display: block;
	flex-basis: 100%;

	font-family: $font-family--alt;
	font-weight: 700;
	font-size: 12pt;
	text-transform: uppercase;
	letter-spacing: 2px;

	padding: $space--plus-one-quarter $space $space--double;
	text-align: center;

	span {
		border-bottom: 2px solid transparent;
	}

	&:hover {
		border: 0;

		span {
			border-bottom-color: $color-link;
		}
	}
}
