.portfolio {}

	.page.page--portfolio {
		padding-bottom: 0;
	}

.portfolio__item[href]:hover {
	box-shadow: 0 2px 0 $color-link;
}

	.portfolio__content {
		margin-bottom: $space--double;
	}

	.portfolio__highlights {
		margin-top: $space;
		margin-bottom: $space;
		margin-left: 0;
		padding-left: 0;
		list-style: none;

		font-size: 0.8em;
		color: #999;
		max-width: 25em;

		li {
			display: inline;
		}
	}

	.portfolio__cta {
		font-family: $font-family--alt;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		font-size: 1.1em;
	}
