{% set title = 'Contact us to start your web project' %}
{% extends 'layouts/base.twig' %}

{% block content %}

{% embed 'partials/_page.twig' with {
	id: "contact",
	classes: [
		'page--alt',
		'page--full-height',
		'page--padded',
	]
} %}
	{% block content %}
	<div class="row">
		<div class="col col--2">
			{% include 'partials/_section__title.twig' with { title: 'Contact our team' } %}
		</div>
	</div>
	<div class="row">
		<div class="col col--2">
{% markdown %}
We're always looking for our next amazing client. Use the form below to get in touch, or reach out directly:

**Email:** [hello@tomodomo.co](mailto:hello@tomodomo.co)

**Phone:** [800-501-1876](tel:8005011876)

**Twitter:** [@TomodomoCo](https://twitter.com/TomodomoCo)
{% endmarkdown %}

			<form method="post" action="https://formspree.io/hello@tomodomo.co">
				<div class="row row--nested">
					<div class="col col--half">
						<p class="form__control">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" required>
						</p>

						<p class="form__control">
							<label for="email">Email</label>
							<input type="email" name="_replyto" id="email" required>
						</p>
					</div>
					<div class="col col--half">
						<p class="form__control">
							<label for="message">Message</label>
							<textarea id="message" name="message" rows="10" required></textarea>
						</p>
						<p class="form__control form__control--actions">
							<button type="submit" class="button button--primary">Submit</button>
							<input type="hidden" name="_next" value="https://tomodomo.co/thanks">
						</p>
					</div>
				</div>
			</form>
		</div>
		<div class="col col--1">
			<img src="assets/img/contact.svg" class="u-mt--s u-w--100">
		</div>
	</div>
	{% endblock %}
{% endembed %}

{% endblock %}
