{% extends 'layouts/base.twig' %}

{% block content %}

    {% for post in posts %}
    <article>
        <header>
            <h1>{{post.title}}</h1>
        </header>
        <div class="page entry-content">
            {{post.content}}
        </div>
    </article>
    {% endfor %}

{% endblock %}
