{% extends 'layouts/base.twig' %}

{% block content %}

    {% for post in posts %}
	<article class="content {% if image %}has-featured-image{% endif %}" itemscope itemtype="http://schema.org/Article">
        <header class="content__header">
            <h1 class="content__title"><span>{{post.title}}</span></h1>

            {% if image %}
            <div class="wide">
                <div class="content__image" style="background-image: url({{image}});"></div>
            </div>
            {% endif %}

            {% if post.excerpt %}
            <div class="content__subhead">
                {{post.excerpt}}
            </div>
            {% endif %}
        </header>
        <div class="content__body entry-content" itemprop="articleBody">
            {{post.content}}
        </div>
    </article>
    {% endfor %}

{% endblock %}
