{% extends 'layouts/base.twig' %}

{% block content %}

	{% embed 'partials/_header.twig' %}
		{% block content %}
{% markdown %}
In addition to our custom services, we offer ready-made products through our Tomodomo To Go programme.

With Tomodomo To Go, your community can take advantage of our trusted solutions for design and community management on a smaller, focussed scale.
{% endmarkdown %}
		{% endblock %}
	{% endembed %}

{% embed 'partials/_page.twig' with {
	classes: [
		'page--padded',
		'page--full-height',
		'page--alt',
	]
} %}
	{% block content %}
		<div class="row u-mt--s">
			{% include 'partials/_block.twig' with {
				image: 'https://placehold.it/400x150',
				title: 'Tomodomo Post',
				content: '
_Increase engagement and provide unique value to your users with weekly or monthly newsletters_

Sending email newsletters that highlight top content is a great way to engage community members and keep them coming back to your site. Perfect for membership forums full of valuable posts and comments, Tomodomo Post takes the time consuming work out of the equation.

Our team will handle curation, logistics, and formatting for your email provider.
',
				action: '$99 (monthly) or $199 (weekly)'
			} %}
		</div>
	{% endblock %}
{% endembed %}

{% embed 'partials/_page.twig' with {
	classes: [
		'page--padded',
		'page--full-height',
	]
} %}
	{% block content %}
		<div class="row u-mt--s">
			{% include 'partials/_block.twig' with {
				image: 'https://placehold.it/400x150',
				title: 'Tomodomo Link',
				content: '
_Connect your forum to third party software and trigger custom actions and workflows_

Whether you need to create and deactivate user accounts based on billing events, or want to send new posts to a Zapier workflow for logging, Tomodomo Link can help.

Link connects to your forum, monitoring it for events you define and triggering events based on external actions. That makes connecting to the other software in your business\' arsenal easier than ever, saving your team time and money.
',
				action: 'Starts at $139 (billed monthly)'
			} %}
		</div>
	{% endblock %}
{% endembed %}

{% embed 'partials/_page.twig' with {
	classes: [
		'page--padded',
		'page--full-height',
		'page--alt',
	]
} %}
	{% block content %}
		<div class="row u-mt--s">
			{% include 'partials/_block.twig' with {
				image: 'https://placehold.it/400x150',
				title: 'Tomodomo Spark',
				content: '
_Beautiful pre-built designs for your hosted Vanilla Forums site, installed with one click_

The first tool of its kind, Tomodomo Spark connects to your hosted Vanilla Forums community and lets you install beautiful hand-crafted themes with the click of a button.

Spark themes can be deeply customised to suit your brand, and our Spark Updater instantly deploys improvements and changes with no downtime.
',
				action: 'Starts at $49'
			} %}
		</div>
	{% endblock %}
{% endembed %}

{% endblock %}
