{% set title = 'Our work with publishers & communities' %}
{% extends 'layouts/base.twig' %}

{% block content %}

{% embed 'partials/_page.twig' with {
	id: 'work',
	classes: [
		'page--padded',
		'page--alt',
	]
} %}
	{% block content %}
		<div class="row">
			<div class="col col--2">
				{% include 'partials/_section__title.twig' with { title: 'Our work' } %}
			</div>
		</div>

		{% include 'partials/_portfolio__item.twig' with {
			image: 'mindful-1.png',
			url: '/work/mindful30',
			logo: {
				file: 'mindful.png',
			},
			content: 'A paywall and a unique donation tool lead to $75,000 in sales and thousands more for charity—in less than a month.',
			highlights: [
				'Development',
				'WordPress',
				'Restrict Content Pro',
			]
		} %}

		{% include 'partials/_portfolio__item.twig' with {
			image: 'ecommercefuel-1.png',
			url: '/work/ecommercefuel',
			logo: {
				type: 'svg',
				file: 'ecommercefuel',
				width: 200,
				alt: 'eCommerceFuel logo',
			},
			content: 'The leading community for e-commerce entrepreneurs grew with the creation of a custom forum design and directory application.',
			highlights: [
				'Design',
				'Development',
				'Slim Framework',
				'Vanilla Forums',
				'WordPress',
			]
		} %}

		{% include 'partials/_portfolio__item.twig' with {
			image: 'dailyreport-1.png',
			url: '/work/daily-report',
			logo: {
				type: 'svg',
				file: 'businessreport',
				width: 175,
				alt: "Baton Rouge Business Report logo",
			},
			content: 'Sent twice a day, the Daily Report email needed to be fast to create and easy to read. A custom email editor and infinite-scrolling reading interface makes both painless.',
			highlights: [
				'Design',
				'Development',
				'Ad Tech',
				'JavaScript',
				'WordPress',
			]
		} %}

		{% include 'partials/_portfolio__item.twig' with {
			image: 'freedompop-1.png',
			logo: {
				file: 'freedompop.png',
				width: 200
			},
			highlights: [
				'Development',
				'JavaScript',
				'Vanilla Forums',
			]
		} %}

		{% include 'partials/_portfolio__item.twig' with {
			image: 'torrentfreak-1.png',
			url: '/work/torrentfreak',
			logo: {
				type: 'svg',
				fill: '#FFF',
				file: 'torrentfreak',
				width: 60
			},
			content: 'This privacy magazine expanded its coverage with a new directory of privacy software providers, powered by reader reviews.',
			highlights: [
				'Design',
				'Development',
				'WordPress',
			]
		} %}

		{% include 'partials/_portfolio__item.twig' with {
			url: '/work/dynamite-circle',
			image: 'dynamitecircle-1.png',
			logo: {
				file: 'dynamitecircle.png',
				width: 100
			},
			content: 'People connect quickly with a custom forum theme for this entrepreneurship networking group.',
			highlights: [
				'Design',
				'Development',
				'JavaScript',
				'Vanilla Forums',
			]
		} %}
	{% endblock %}
{% endembed %}

{% endblock %}
