:root {
	font-family: $font__family;
	font-size: 20px;
	line-height: 1.6;
  -webkit-font-smoothing: antialiased;

  font-size: 16px;

  @include breakpoint(30em) {
    font-size: 20px;
  }
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
  overflow-x: hidden;

	color: $color__text;
	background: $color__background;

	font-variant-numeric: lining-nums;
}

a {
	color: $color__link;

	&:hover {
		border-bottom-width: 0.15em;
		border-bottom-style: solid;
		border-bottom-color: lighten($color__link, 20%);
	}
}

.body {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;

  padding-left:  $space;
  padding-right: $space;

  @include breakpoint(40rem) {
    padding-left:  $space * 2;
    padding-right: $space * 2;
  }
}
