$debug: false;

.content {
}

  .content__header {
    margin-top: 5vh;

    .content__title {
      position: relative;
      z-index: 10;
      overflow: hidden;
      max-width: 12em;

      // Do a weird padding dance to prevent overflow issues
      $content__title--padding: 0.2em;
      padding:      $content__title--padding;
      margin-left:  $content__title--padding * -1;
      margin-right: $content__title--padding * -1;

      .has-featured-image & {
        // Pull the featured image up
        // @todo make sure this works without a feature image
        margin-bottom: -0.55em;
      }

      font-size: 10vw;
      line-height: 1;
      text-transform: uppercase;
      color: black;
      word-spacing: 0.2em;

      @include breakpoint(40rem) {
        font-size: 4em;
      }

      // This applies the white space around the text. It's a weird hack
      span {
        background: linear-gradient(
          to bottom,
          transparent 0%,
          transparent 50%,
          $color__background 50%
        );
        box-shadow: 0.2em 0.2em 0 $color__background, -0.2em 0.2em 0 $color__background;
      }
    }

    .content__image {
      min-height: 25em;
      background-size: cover;
      background-position: center;
      background-color: darken($color__background, 15%);
    }

    .content__subhead {
      position: relative;
      z-index: 100;
      max-width: 35em;

      background: $color__background;

      padding: ($space * 0.5) $space;
      margin-top:  $space * -2.5;
      margin-left: $space * -1;

      font-family: $font__family--heading;
      font-size: 1.2em;
      font-weight: 600;

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .content__body {
    margin-left: $space * -1;
    margin-right: $space * -1;
  }

    .content__body > * {
      margin-left: $space;
      margin-right: $space;

      @include breakpoint(840px) {
        width: calc(66.6666% - #{$space * 2});
      }

      @include breakpoint(960px) {
        width: calc(50% - #{$space * 2});
      }

      @if $debug == true {
        background: rgba(yellow, 0.25);
      }
    }

    // wp-block-image should be effectively passthrough
    .content__body > .wp-block-image {
      width: auto;
      margin: 0;
    }


    // Width alignments
    .content__body .alignfull,
    .content__body .alignwide {
      width: calc(100% - #{$space * 2});
    }

    .content__body .alignfull {
      @if $debug == true {
        background: rgba(red, 0.25);
      }
    }

    .content__body .alignwide {
      @if $debug == true {
        background: rgba(blue, 0.25);
      }

      @include breakpoint(840px) {
        width: calc(66.6666% - #{$space * 2});
      }

      @include breakpoint(960px) {
        width: calc(75% - #{$space * 2});
      }
    }


    // Left and right alignment
    .content__body .alignleft,
    .content__body .alignright {
      padding-top: 1px;
      padding-bottom: 1px;

      margin-top: 1em;
      margin-bottom: 1em;

      margin-left: $space;
      margin-right: $space;

      @include breakpoint(840px) {
        width: calc(33.3333% - #{$space * 2});

        margin-top: 0;
        margin-bottom: 0;
      }

      @if $debug == true {
        background: rgba(blue, 0.25);
      }
    }

    .content__body .alignleft {
      @include breakpoint(840px) {
        float: left;
      }

      @include breakpoint(960px) {
        width: calc(25% - #{$space * 2});
      }
    }

    .content__body .alignright {
      @include breakpoint(840px) {
        float: right;
      }

      @include breakpoint(960px) {
        width: calc(50% - #{$space * 2});
      }
    }
