.footer.footer {
  margin-top: $space * 4;
  margin-bottom: $space * 2;

  font-family: $font__family--heading;
  font-size: 0.8em;
}

  .footer__copyright {
    text-transform: uppercase;

    color: #555;
  }

  .footer__commit {
    text-align: right;
    font-family: $font__family--monospace;

    a {
      padding: 0.3em 0.6em 0.4em;
      background: #F4F4F4;

      color: #333;
    }
  }
