@import "gridlex/src/gridlex";

.wide {
  width: 100vw;

  // Push to the right, then pull back to the left

  // Margin % values are relative to the containing element, so this
  // pushes the element 50% to the right within the container...
  margin-left: 50%;

  // But translate percentage values are relative to the viewport, so
  // this pulls it back all the way to the left edge of the page!
  transform: translateX(-50%);
}
