.header {
  padding-top: $space * 3;
  padding-bottom: $space * 2;
}

  .logo {
    display: block;
    margin: -3.5% 0 0.1em;
    color: #000;
    max-width: 400px;

    &:hover {
      border-bottom: none;
      color: #444;
      text-decoration: none;
    }

    .logo__img {
      max-width: 100%;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    margin-top: $space;

    @include breakpoint(840px) {
      margin-top: 0;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

    .nav__link {
      border-bottom: 2px solid transparent;
      padding-top: 0;
      padding-bottom: 0.5em;
      color: #333;
      margin-top: $space * 0.5;
      font: 14pt bold $font-family--alt;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1;
      padding-left: 2px;

      @include breakpoint(840px) {
        margin-top: 0;
        margin-left: $space * 1.25;
      }

      &:hover {
        color: rgba(black, 0.5);
        border-color: rgba(black, 0.4);
      }
    }
