.header {
  display: flex;
  flex-direction: column;

  @include breakpoint(40rem) {
    padding-top:    $space * 3;
    padding-right:  $space * 2;
    padding-bottom: $space * 2;
    padding-left:   $space * 2;

    flex-direction: row;

    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
}

  .header__primary {
    order: 2;
    padding: $space;
    display: flex;
    justify-content: space-between;

    @include breakpoint(40rem) {
      order: unset;
      padding: unset;
    }
  }

    .logo {
      display: block;
      color: #000;
      max-width: 50vw;

      @include breakpoint(40rem) {
        max-width: 400px;
      }

      &:hover {
        border-bottom: none;
        color: #444;
        text-decoration: none;
      }

      .logo__img {
        max-width: 100%;
        margin: 0;

        // This offsets the top of the "t" and "d"
        margin-top: -3.5%;
      }
    }

  .header__nav {
    display: flex;
    flex: 1;
    max-height: 0;
    align-items: flex-end;

    @include breakpoint(40rem) {
      max-height: auto;
      justify-content: flex-end;
    }
  }
