/**
 * Handle animations
 */
.body,
.header {
  transition: 0.3s transform ease-in-out;

  body.has-open-nav & {
    transform: translateY(var(--headerHeight));

    @include breakpoint(40rem) {
      transform: none;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: #444;
  color: white;

  @include breakpoint(40rem) {
    margin-top: 0;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    background: unset;
    color: unset;
  }
}

  .nav__trigger {
    width:  32px;
    height: 32px;
    min-height: 0;
    overflow: hidden;
    margin-top: -8px;
    cursor: pointer;

    transition: 0.3s transform ease-in-out;
    transform: rotate(0deg);

    body.has-open-nav & {
      transform: rotate(180deg);
    }

    @include breakpoint(40rem) {
      display: none;
    }
  }

    .nav__link {
      font: 14pt bold $font__family--alt;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 1;
      color: currentcolor;

      border: none;
      padding: ($space * 0.5) $space;

      &:hover {
        border: none;
        color: currentcolor;
      }

      &:first-child {
        margin-top: ($space * 0.5);
      }

      &:last-child {
        margin-bottom: ($space * 0.5);
      }

      @include breakpoint(40rem) {
        &.nav__link {
          border-bottom: 2px solid transparent;
          padding: 0 0 ($space * 0.5) 0;
          margin: 0 0 0 $space;

          &:hover {
            color: rgba(black, 0.5);
            border-color: rgba(black, 0.4);
          }
        }
      }
    }
