p {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin-left: $space * 2;
}

%heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  font-size: 13pt;
  padding-bottom: $space * 0.5;
  font-family: $font-family--alt;
  border-bottom: 2px solid #DDD;
  width: 100%;
  color: #222;
}

h1 {
}

h2 {
  font-family: $font-family--alt;
  font-size: 2em;
  font-weight: normal;
  margin-top: 1em;
}

h3 {
}
