<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.twig' %}
<body id="top">
    {% include 'partials/_header.twig' %}

    <div class="body">
        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include 'partials/_footer.twig' %}
    </div>

    {{wp_footer}}
</body>
</html>
