<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.twig' %}
<body id="top">
    <div class="page">
        {% include 'partials/_header.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'partials/_footer.twig' %}
    </div>
</body>
</html>
