<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.twig' %}
<body id="top">
    {% if image %}
    <div class="image" style="background-image: url({{image}});"></div>
    {% endif %}

    <div class="body">
        {% include 'partials/_header.twig' %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include 'partials/_footer.twig' %}
    </div>
    {{wp_footer}}
</body>
</html>
