<!DOCTYPE html>
<html lang="en">
{% include 'partials/_head.twig' %}
<body id="top">
    {% include 'partials/_header.twig' %}

    <main class="body">
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/_footer.twig' %}
    {{wp_footer}}
</body>
</html>
